body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #6C63FF, #3F3D56);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: white;
  width: 95%;
  max-width: 400px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

button {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #6C63FF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}